<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.29">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.60">
    <script>node(&apos;agent_mythili2&apos;)
{
    stage(&apos;transferring_to_madhu_ftp_server&apos;)
    {
        echo &quot;insdie STAGE &quot;
        
       bat&apos;&apos;&apos;ncftpput -R -u madhubala -p Madhu@123 10.1.4.56 / D:/jenkins_jaya/files_need_to_transfer_to_ftp_server&apos;&apos;&apos;
        
        echo &quot;transfer completed sucesfully!!!!&quot;
    }
}</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>