<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.29">
  <actions/>
  <description>this pipeline will pull source code from git or github.com</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.60">
    <script>
node(&apos;master&apos;)
{
  
    stage(&quot;pulling @ slave1 mythili&quot;)
    {
        git &apos;https://github.com/jayanagavenkatasudhakar/jenkins.git&apos;
        echo &quot;source code pulling sucessfull!!!!!!!!!!!!!!!!!&quot;
    }
    stage(&apos;Building&apos;)
    {
        bat &apos;&apos;&apos;javac &quot;C:/Program Files (x86)/Jenkins/workspace/Tsk7.2.1_Scripted_pipeline/Demo.java&quot;&apos;&apos;&apos;
        echo &quot;Building completed sucessfully&quot;
    }
    
    stage(&apos;Running&apos;)
    {
        bat&quot;&quot;&quot;
        cd C:/Program Files (x86)/Jenkins/workspace/Tsk7.2.1_Scripted_pipeline 
        C:
        java Demo&quot;&quot;&quot;
    }
   
    
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>