<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.29">
  <actions/>
  <description>This pipeline will pull source code from jasmin git</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.60">
    <script>node (&apos;agent_madhu&apos;)
{
    //agent (&apos;agent_madhu&apos;)
    stage(&quot;pulling AVB Source code&quot;)
    {
       
        git branch:&apos;master&apos;,
            url: &apos;git@gitserver:JIAVBStack.git&apos;,
            credentialsId:&apos;6f4b9c68-dadd-4fab-b989-7a41822efaf4&apos;
            
        echo &quot;pulled AVB source code succesfull!!!!!!!&quot;
       
    }
}</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>